.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.Task-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.Task-card {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-style: groove;
  width: 50vw;
  margin: 1vh;

}


